
.Name{
    color: rgb(249, 172, 103);
} 
.Name:hover{
    color: rgb(238, 106, 89) ; 
    transition: color 0.5s ease;
}
.AwLinkwhenclicked{
    color: #ee6a59;
    text-decoration: none;
}
.AwLinkwhenclicked:hover{
    color: #f9ac67;
    transition: color 0.5s ease;
}
.GalLinkwhenclicked{
    color: #ee6a59;
    text-decoration: none;
}
.GalLinkwhenclicked:hover{
    color: rgb(249, 172, 103);
    transition: color 0.5s ease;
}
.title{
    color: #f9ac67;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.title:hover{
    color: #ee6a59;
    transition: color ease 0.5s;
}
.paragraph{
    margin: 0px 25px;
}
.TheCollage{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
